@charset 'utf-8';

html {
  font-size: 16px;
  font-family: 'Montserrat', 'Raleway', 'Noto Sans', sans-serif;
}

/* 숨긴 콘텐츠 */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}

/* 스킵 네비게이션 */
.skip-nav {
  width: 100%;
}
.skip-nav-item {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 2;
}
.skip-nav-item a {
  position: absolute;
  transform: translateY(-130%);
  margin: 10px 0;
  padding: 10px 0;
  color: #fff;
}
.skip-nav-item a:active,
.skip-nav-item a:focus {
  position: static;
  transform: none;
}

/* 헤더 */
.header {
  background-color: #131c26;
  opacity: 0.8;
}
.header-inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 15px;
  width: 1070px;
  height: 65px;
}
.header-heading {
  width: 101px;
}
.logo-img {
  width: 100%;
}
.mobile-menu-btn {
  display: none;
  padding: 7px 10px;
  border-radius: 5px;
}
.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  background-color: #ddd;
}
.menu-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 22px;
  height: 18px;
}
.menu-bar {
  height: 3px;
  border-radius: 5px;
  background-color: #888;
}
.main-menu {
  height: 100%;
}
.menu-list {
  display: flex;
  height: 100%;
}
.menu-item a {
  display: flex;
  align-items: center;
  padding: 0 25px;
  height: 100%;
  font-size: 0.8rem;
  font-family: 'Raleway', 'Noto Sans', sans-serif;
  letter-spacing: 1px;
  color: #adadad;
}
.menu-item a:hover,
.menu-item a:focus {
  color: #fff;
}
@media (max-width: 1070px) {
  .header-inner {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .header-inner {
    padding-right: 15px;
  }
  .mobile-menu-btn {
    display: block;
  }
  .main-menu {
    display: none;
  }
}
