@charset 'utf-8';

html {
  font-size: 16px;
  font-family: 'Montserrat', 'Raleway', 'Noto Sans', sans-serif;
}

/* 숨긴 콘텐츠 */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}

/* 스킵 네비게이션 */
.skip-nav {
  width: 100%;
}
.skip-nav-item {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 3;
}
.skip-nav-item a {
  position: absolute;
  transform: translateY(-130%);
  margin: 10px 0;
  padding: 10px 0;
  color: #fff;
}
.skip-nav-item a:active,
.skip-nav-item a:focus {
  position: static;
  transform: none;
}

/* 헤더 */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #131c26;
  opacity: 0.8;
  z-index: 2;
}
.header-inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 15px;
  max-width: 1070px;
  height: 65px;
}
.header-heading {
  width: 101px;
}
.logo-img {
  width: 100%;
}
.mobile-menu-btn {
  display: none;
  padding: 7px 10px;
  border-radius: 5px;
}
.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  background-color: #ddd;
}
.menu-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 22px;
  height: 18px;
}
.menu-bar {
  height: 3px;
  border-radius: 5px;
  background-color: #888;
}
.main-menu {
  height: 100%;
}
.menu-list {
  display: flex;
  height: 100%;
}
.menu-item a {
  display: flex;
  align-items: center;
  padding: 0 25px;
  height: 100%;
  font-size: 0.8rem;
  font-family: 'Raleway', 'Noto Sans', sans-serif;
  letter-spacing: 1px;
  color: #adadad;
}
.menu-item a:hover,
.menu-item a:focus {
  color: #fff;
}

/* 배너 */
.banner {
  position: relative;
  height: 1200px;
}
.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.banner-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}
.banner-heading {
  margin-bottom: 50px;
  width: 670px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
}
.banner-descripttion {
  font-size: 1.3rem;
  font-weight: 300;
  font-family: 'Raleway', 'Noto Sans', sans-serif;
  letter-spacing: 2px;
}

/* 어비웃 뷰노 */
.about-vuno {
  padding: 200px 15px;
  background-color: #131c26;
  color: #fff;
}
.about-vuno-inner {
  margin: 0 auto;
  max-width: 1100px;
}
.about-vuno-heading {
  position: relative;
  padding: 70px 0;
  font-size: 2.5rem;
  font-weight: 400;
}
.about-vuno-heading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 1px;
  background-color: #fff;
}
.about-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.about-item {
  margin-right: 10px;
  padding-top: 110px;
  background-size: 60px 60px;
  background-repeat: no-repeat;
}
.about-item:last-child {
  margin-right: 0;
}
.analysis {
  background-image: url(../img/AboutVUNO_1.png);
}
.algorithm {
  background-image: url(../img/AboutVUNO_2.png);
}
.shoftwares {
  background-image: url(../img/AboutVUNO_3.png);
}
.list-title {
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 400;
}
.list-description {
  max-width: 320px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.3);
}

/* 솔루션 */
.solution {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: #131c26;
}
.solution-text {
  flex: 1;
  position: relative;
  color: #fff;
}
.solution-text-inner {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 500px;
}
.solution-heading {
  padding: 40px 0;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: -2px;
}
.solution-heading span:first-child {
  font-weight: 700;
}
.solution-heading span:last-child {
  font-size: 50%;
  vertical-align: top;
}
.solution-sub-heading {
  position: absolute;
  top: 0;
  font-size: 0.75rem;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.8);
}
.solution-description {
  margin-bottom: 90px;
  font-size: 0.9em;
  font-family: 'Raleway', 'Noto Sans', sans-serif;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.3);
}
.solution-more-btn {
  font-size: 0.75rem;
  letter-spacing: 2px;
}
.solution-more-btn:hover {
  text-decoration: underline;
}
.solution-img {
  flex: 1;
  background-image: url(../img/solutions-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
  height: 830px;
}

@media (max-width: 767px) {
  /* 헤더 */
  .header-inner {
    padding-right: 15px;
  }
  .mobile-menu-btn {
    display: block;
  }
  .main-menu {
    display: none;
  }

  /* 베너 */
  .banner {
    height: 670px;
  }
  .banner-heading {
    width: 320px;
    font-size: 1.8rem;
  }
  .banner-descripttion {
    font-size: 0.8rem;
  }

  /* 어바웃 뷰노 */
  .about-list {
    flex-flow: row wrap;
  }
  .about-item {
    margin-right: 0;
    margin-bottom: 70px;
    width: 100%;
  }
  .about-item:last-child {
    margin-bottom: 0;
  }

  /* 솔루션 */
  .solution-text {
    min-width: 100%;
    order: 2;
  }
  .solution-text-inner {
    padding: 0 40px;
    max-width: 100%;
  }
  .solution-heading {
    font-size: 1.4rem;
  }
  .solution-description {
    margin-bottom: 25px;
  }
  .btn-area {
    text-align: right;
  }
  .solution-img {
    margin-bottom: 65px;
    min-width: 100%;
    height: 315px;
    background-position: 0 0;
    order: 1;
  }
}
